<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List Mahasiswa</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

	<div class="container">
		<center>
		<div class="form" style="opacity:80%;width: 100%;color: white; height: auto;margin:auto">
			  <a th:href="@{/}" class="back-btn" style="margin-left: -26rem;">Kembali</a>
	<h1>List Mahasiswa</h1>
	<table class="table" style="color: white;">
		<thead>
			<tr>
				<th scope="col">
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=nim&sortDir=' + ${reverseSortDir}}">
						NIM
					</a>
				</th>
				<th scope="col">
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=nama&sortDir=' + ${reverseSortDir}}">
						Nama
					</a>
				</th>
				<th scope="col">
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=alamat&sortDir=' + ${reverseSortDir}}">
						Alamat
					</a>
				</th>
				<th scope="col">
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=tglLahir&sortDir=' + ${reverseSortDir}}">
						Tanggal Lahir
					</a>
				</th>
				<th scope="col" rowspan="2"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mahasiswa: ${listMahasiswa}">
				<td th:text="${mahasiswa.nim}"></td>
				<td th:text="${mahasiswa.nama}"></td>
				<td th:text="${mahasiswa.alamat}"></td>
				<td th:text="${mahasiswa.tglLahir}"></td>
				<td><a th:href="@{'/editMahasiswa/' + ${mahasiswa.nim}}" class="btn btn-primary">Update</a></td>
				<td><a th:href="@{'/deleteMahasiswa/' + ${mahasiswa.nim}}" class="btn btn-danger">Delete</a></td>
		</tr>
		</tbody>
	</table>
	
	<div th:if="${totalPages > 1 }">
		<div class="row col-sm-10">
			<div class="col-sm-2">
				Total Rows: [[${totalItems}]]
			</div>
			<div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
						[[${i}]]
					</a>
					<span th:unless="${currentPage != i}">
						[[${i}]]
					</span> &nbsp;&nbsp;
				</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
				<span th:unless="${currentPage < totalPages}">Next</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
				<span th:unless="${currentPage < totalPages}">Last</span>
			</div>
		</div>
	</div>
	</div>
	</center>
	</div>

</body>
</html>